body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}
.card-container {
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
}

.card-content {
    width: 300px;
    min-height: 300px;
    padding: 1em 0;
    border-radius: 5px;
}

.card-title {
    margin: 0;
    padding: 0 1em .3em 1em;
}

.card-title.add {
    display: flex;
    justify-content: space-between;
}

#add {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    font-weight: 1000;
}

.dropzone {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropzoneActive {
    background-color: rgba(0, 0, 0, .3);
}

.dropzoneHover {
    background-color: rgba(241, 241, 241, 0.3);
}

.item {
    width: calc(90% - 2em);
    min-height: 50px;
    border-radius: 3px;
    margin: 3px;
    padding: .5em 1em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
}

.item-title {
    margin: 0;
    font-size: 15px;
}

.item-content {
    font-size: 12px;
}

.isDragging {
    background: white;
    cursor: move;
}

.card-content:last-child, #done {
    opacity: .8;
}

.green {
    background: #00d83c;
}

.red {
    background: #e84f52;
}

.yellow {
    background: #e7d664;
}

.blue {
    background: #34c3d3;
}

@media (max-width: 1270px) {
    .card-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .card-content {
        margin: .5em 0;
    }

}